<!-- Navbar -->
 {{> navbar-index }}

  <header class="header-2">
    <div class="page-header min-vh-85">
                  <div class="header-video">
                    <video src="/img/video (3).mp4" class="video-slide" type="video/mp4" autoplay="true" muted="true" loop="true"></video>
                    <span class="mask bg-gradient-info opacity-2"></span>
                  </div>
                  <div class="header-overlay"></div>
                  <div class="header-content text-center col-lg-12">
                      <div class="row">
                        <div class="col-lg-12 my-auto text-center">
                          <h1 class="text-white fadeIn2 fadeInBottom"> <span class="text-gradient text-warning ">Inscripción</span> de las Primeras Jornadas </br> "Tendencia en Ciencias y Tecnología"</h1>
                         <span class="text-white">SEDE DEL EVENTO EN EL BIOTEL SUITES - BARQUISIMETO DEL 19 Y 20 DE OCTUBRE DEL 2022</span> 
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 my-auto text-center">
                          <img src="/img/logos-aniversarios.png"  style="width: 50vw;" alt="">
                          
                        </div>
                      </div>
                      <div class="row mt-4 text-center">
                        <div class="col-lg-12 my-auto text-center">
                          <a href="#Inscription" class="btn btn-sm  bg-gradient-warning  btn-round mb-0 me-1 mt-2 mt-md-0">
                            Ir a Inscribirme
                          </a>
                          <a href="/event/status" class="btn btn-sm  bg-gradient-success  btn-round mb-0 me-1 mt-2 mt-md-0">
                            Estado de Solicitud
                          </a>
                        </div>
                      </div>
                  </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
              <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="moving-waves">
                  <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                  <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                  <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                  <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
                </g>
              </svg>
            </div>
    </div>
                
  </header>
  <section>
    <div class="container">
      <div class="row mt-5">
          <div class="col-lg-12">
            <h2 class="text-gradient text-dark text-center mb-0">¡Bienvenido a <span class="text-gradient text-primary">la sección del evento!</span></h2>
            <p class="text-dark text-center">Sección de inscripción e información del evento</p>
          </div>
      <div class="row mt-5 mb-3">
          <div class="col-lg-12">
            <h3 class="text-gradient text-primary text-center">Programaciones y Ponencias</h3>
          </div>
    </div>
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
          <div class="carousel-inner border-radius-sm">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.06 PM.jpeg" alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.06 PM (1).jpeg" alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.06 PM (2).jpeg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.06 PM (3).jpeg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.06 PM (4).jpeg" alt="Third slide" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-7 mx-auto">
        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner border-radius-sm">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.06 PM (5).jpeg" alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.07 PM (1).jpeg" alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.07 PM (2).jpeg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.07 PM (3).jpeg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.07 PM (4).jpeg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.07 PM (5).jpeg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.07 PM (6).jpeg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.07 PM (7).jpeg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/WhatsApp Image 2022-10-03 at 12.19.07 PM (8).jpeg" alt="Third slide" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
    </div>
    </div>
    
  </section>
  <section class="min-vh-100 mb-8" id="Inscription">
    <div class="page-header align-items-start min-vh-50 pt-2 pb-9 m-3">
      <div class="container">
        <div class="row justify-content-center">
          
          <div class="col-lg-5 text-center mx-auto">
            <h3 class="text-gradient text-primary mb-0 mt-5">Formulario de Inscripción</h3>
            <p class="text-lead text-dark">Use el siguiente formulario para proceder a inscribirlo:</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
          {{#if success_msg }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                <span class="alert-text text-white"><strong>¡Enhorabuena! -</strong> {{ success_msg }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            {{#if error}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{error}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/if}}
            {{#each errors }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{text}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/each}}
            {{#if error_msg }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{error_msg}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/if}}
          <div class="card z-index-0">
            <div class="card-body">
              <form id="f1" name="f1" action="/jornade" method="POST">
                  <h5 class="heading-small text-muted mb-4 mt-4">Informacion del usuario:</h5>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Nombre Completo</label>
                          <input type="text" name="fullname" class="form-control" placeholder="Nombres..." maxlength="100" value="{{fullname}}">
                        </div>
                      </div>  
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">N° de C.I. / R.I.F.</label>
                          <input type="number" name="idcard" class="form-control" placeholder="Cédula de Identidad..." value="{{idcard}}">
                        </div>
                      </div>                 
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Correo Electrónico</label>
                          <input type="email" name="email" class="form-control" placeholder="Correo Electrónico..." value="{{email}}">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Número de WhatsApp</label>
                          <input type="number" name="ws" class="form-control" placeholder="Número de WhatsApp" value="{{ws}}">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Número de Teléfono</label>
                          <input type="number" name="phone" class="form-control" placeholder="Número Telefónico de Llamadas..." value="{{phone}}">
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <div class="row mb-5">
                      <h5 class="heading-small text-muted mb-4 mt-4">Tipo de Participante:</h5>
                      
                      <div class="col-lg-6">
                        <div class="form-check">
                          <input class="form-check-input checkPublic" type="radio" name="typeparticipant" id="customRadio4" value="PUBLICO EN GENERAL">
                          <label class="custom-control-label" for="customRadio4">Público en General</label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-check">
                          <input class="form-check-input checkEstudiante" type="radio" name="typeparticipant" id="customRadio3" value="ESTUDIANTE">
                          <label class="custom-control-label" for="customRadio3">Estudiante</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <hr class="my-4" />
                  <h5 class="heading-small text-muted mb-4 mt-4 ">Seleccione la(s) Ponencia(s), que inscribe para participar en las Primeras Jornadas  “Tendencias en Ciencias y Tecnología”:</h5>
                  <div class="pl-lg-4 showing" id="v10">
                    <div class="alert alert-info text-white" role="alert">
                      <strong>¡Info! -</strong> 2 ponencias por 10$, 5 ponencias por 30$ y 7 ponencias por 40$
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item active">
                          <div class="row">
                            <div class="col-6 text-center">
                              Ponencias
                            </div>
                            <div class="col-6 text-end">
                              Monto
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checking10" type="checkbox" value=true name="ponencia1" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 09:15 - 10:10 Am. Ponencia Virtual: Industria 4.0. Por: Ing. Miguel Fonseca.</label>
                          </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checking10" type="checkbox" value=true name="ponencia2" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 10:10 - 11:05 Am. Ponencia Virtual: Uso de las Metodologías Ágiles (como SAP Activate) para Transformar las organizaciones y llevarlas hacia la empresa Inteligente Por: Ads. Reina Mendoza.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                         <div class="form-check">
                          <input class="form-check-input checking10" type="checkbox" value=true name="ponencia3" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 11:20 - 12:10 pm. Ponencia Virtual: Transformación Digital. Esencial para subsistir en la nueva Era Digital. Por Ing. Rafael Oropeza.</label>
                        </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checking10" type="checkbox" value=true name="ponencia4" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 12:10 - 01:05 pm. Ponencia Presencial: Tecnología como Apalancamiento de Ventas, Productividad y Logística. Por: Ing. Daniel Porras.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checking10" type="checkbox" value=true name="ponencia5" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 08:30 - 09:25 am. Ponencia Virtual: Construyendo una experiencia de juego sociales pervasivos usando socialPG (Building a pervasive social gaming experience using socialPG). Por: Ing. Ramón Valera.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checking10" type="checkbox" value=true name="ponencia6" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 09:25 - 10:20 Am. Ponencia Virtual: Refactorización = Migración de Plataforma Tecnológica de On Premise a Cloud. Por: Ing. Sergio Espósito.</label>
                        </div>
                        </li>

                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checking10" type="checkbox" value=true name="ponencia7" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 10:35 - 11:30 am. Ponencia Presencial: Base de Datos, competencias profesionales, liderazgo y poder. Ponente: Leonardo Ponte</label>
                        </div>
                        </li>
                    </ul>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                        <label class="custom-control-label h6" for="customCheck1">PONENCIAS SELECCIONADAS:</label>
                        <span class="badge badge-primary bg-gradient-primary badge-pill h5" id="valueTotal">0</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <label class="custom-control-label h6" for="customCheck1">MONTO TOTAL A PAGAR:</label>
                        <span class="badge badge-primary bg-gradient-primary badge-pill h5" id="valueList">$10</span>
                      </li>
                    </ul> 
                  </div>

                  <div class="pl-lg-4" id="v0" >
                    <ul class="list-group">
                        <li class="list-group-item active">
                          <div class="row">
                            <div class="col-6 text-center">
                              Ponencias
                            </div>
                            <div class="col-6 text-end">
                              Monto
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" disabled type="checkbox" value=true name="ponencia1" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 09:15 - 10:10 Am. Ponencia Virtual: Industria 4.0. Por: Ing. Miguel Fonseca.</label>
                          </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" disabled type="checkbox" value=true name="ponencia2" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 10:10 - 11:05 Am. Ponencia Virtual: Uso de las Metodologías Ágiles (como SAP Activate) para Transformar las organizaciones y llevarlas hacia la empresa Inteligente Por: Ads. Reina Mendoza.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                         <div class="form-check">
                          <input class="form-check-input checkboxing" disabled type="checkbox" value=true name="ponencia3" id="fcustomCheck1">
                          <label class="custom-control-label h6"  for="customCheck1">Día Miércoles 19/10/22. 11:20 - 12:10 pm. Ponencia Virtual: Transformación Digital. Esencial para subsistir en la nueva Era Digital. Por Ing. Rafael Oropeza.</label>
                        </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" disabled type="checkbox" value=true name="ponencia4" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 12:10 - 01:05 pm. Ponencia Presencial: Tecnología como Apalancamiento de Ventas, Productividad y Logística. Por: Ing. Daniel Porras.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" disabled type="checkbox" value=true name="ponencia5" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 08:30 - 09:25 am. Ponencia Virtual: Construyendo una experiencia de juego sociales pervasivos usando socialPG (Building a pervasive social gaming experience using socialPG). Por: Ing. Ramón Valera.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" disabled type="checkbox" value=true name="ponencia6" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 09:25 - 10:20 Am. Ponencia Virtual: Refactorización = Migración de Plataforma Tecnológica de On Premise a Cloud. Por: Ing. Sergio Espósito.</label>
                        </div>
                        </li>

                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" disabled type="checkbox" value=true name="ponencia7" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 10:35 - 11:30 am. Ponencia Presencial: Base de Datos, competencias profesionales, liderazgo y poder. Ponente: Leonardo Ponte</label>
                        </div>
                        </li>
                    </ul>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                        <label class="custom-control-label h6" for="customCheck1">PONENCIAS SELECCIONADAS:</label>
                        <span class="badge badge-primary bg-gradient-primary badge-pill h5" >0</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center ">
                        <label class="custom-control-label h6" for="customCheck1">MONTO TOTAL A PAGAR:</label>
                        <span class="badge badge-primary bg-gradient-primary badge-pill h5">$0</span>
                      </li>
                    </ul> 
                  </div>

                  <div class="pl-lg-4 showing" id="v5">
                    <div class="alert alert-info text-white" role="alert">
                      <strong>¡Info! -</strong> 3 ponencias por 5$ y 7 ponencias por 10$
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item active">
                          <div class="row">
                            <div class="col-6 text-center">
                              Ponencias
                            </div>
                            <div class="col-6 text-end">
                              Monto
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" type="checkbox" value=true name="ponencia1" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 09:15 - 10:10 Am. Ponencia Virtual: Industria 4.0. Por: Ing. Miguel Fonseca.</label>
                          </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" type="checkbox" value=true name="ponencia2" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 10:10 - 11:05 Am. Ponencia Virtual: Uso de las Metodologías Ágiles (como SAP Activate) para Transformar las organizaciones y llevarlas hacia la empresa Inteligente Por: Ads. Reina Mendoza.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                         <div class="form-check">
                          <input class="form-check-input checkboxing" type="checkbox" value=true name="ponencia3" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 11:20 - 12:10 pm. Ponencia Virtual: Transformación Digital. Esencial para subsistir en la nueva Era Digital. Por Ing. Rafael Oropeza.</label>
                        </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" type="checkbox" value=true name="ponencia4" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Miércoles 19/10/22. 12:10 - 01:05 pm. Ponencia Presencial: Tecnología como Apalancamiento de Ventas, Productividad y Logística. Por: Ing. Daniel Porras.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" type="checkbox" value=true name="ponencia5" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 08:30 - 09:25 am. Ponencia Virtual: Construyendo una experiencia de juego sociales pervasivos usando socialPG (Building a pervasive social gaming experience using socialPG). Por: Ing. Ramón Valera.</label>
                        </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" type="checkbox" value=true name="ponencia6" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 09:25 - 10:20 Am. Ponencia Virtual: Refactorización = Migración de Plataforma Tecnológica de On Premise a Cloud. Por: Ing. Sergio Espósito.</label>
                        </div>
                        </li>

                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="form-check">
                          <input class="form-check-input checkboxing" type="checkbox" value=true name="ponencia7" id="fcustomCheck1">
                          <label class="custom-control-label h6" for="customCheck1">Día Jueves 20/10/22. 10:35 - 11:30 am. Ponencia Presencial: Base de Datos, competencias profesionales, liderazgo y poder. Ponente: Leonardo Ponte</label>
                        </div>
                        </li>
                    </ul>
                    <ul class="list-group mt-4">
                      <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                        <label class="custom-control-label h6" for="customCheck1">PONENCIAS SELECCIONADAS:</label>
                        <span class="badge badge-primary bg-gradient-primary badge-pill h5" id="valueTotaly">0</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <label class="custom-control-label h6" for="customCheck1">MONTO TOTAL A PAGAR:</label>
                        <span class="badge badge-primary bg-gradient-primary badge-pill h5"  id="valueListy">$5</span>
                      </li>
                    </ul> 
                  </div>
                  <hr class="my-4" />
                  <h5 class="heading-small text-muted mb-4 mt-4 ">Métodos de Pago</h5>
                  <div class="col-md-12 mx-auto">
                          <div class="accordion" id="accordionRental">
                            <div class="accordion-item mb-3">
                              <h5 class="accordion-header" id="headingOne">
                                <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  Transferencias Nacionales
                                  <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                  <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                              </h5>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRental" style="">
                                <div class="accordion-body opacity-8">
                                  Nombre: <span class="font-weight-bold text-dark">AC DE EGRESADOS DEL DECANATO DE CIENCIAS</span></br>
                                  Tipo de Cuenta: <span class="font-weight-bold text-dark">Corriente</span></br>
                                  Banco: <span class="font-weight-bold text-dark">Banco Activo</span></br>
                                  N° de Cuenta: <span class="font-weight-bold text-dark">0171-0011-4060-0263-6690</span></br>
                                  Rif.: <span class="font-weight-bold text-dark">J-500601077</span>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item mb-3">
                              <h5 class="accordion-header" id="headingTwo">
                                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Transferencias Nacionales en Dólares
                                  <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                  <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                              </h5>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                                <div class="accordion-body opacity-8">
                                  Nombre: <span class="font-weight-bold text-dark">AC de Egresados del Decanato de Ciencias</span></br>
                                  N° de Cuenta: <span class="font-weight-bold text-dark">0171-0011-4180-0022-2022</span></br>
                                  Rif.: <span class="font-weight-bold text-dark">J-500601077</span>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item mb-3">
                              <h5 class="accordion-header" id="headingThree">
                                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Pago Móvil Interbancario
                                  <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                  <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                              </h5>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
                                <div class="accordion-body opacity-8">
                                  Rif.: <span class="font-weight-bold text-dark">J-500601077</span></br>
                                  N° de teléfono:<span class="font-weight-bold text-dark"> 04125163626</span></br>
                                  <span class="font-weight-bold text-dark">Banco Activo</span>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item mb-3">
                              <h5 class="accordion-header" id="headingFour">
                                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  PayPal
                                  <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                  <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                              </h5>
                              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionRental">
                                <div class="accordion-body opacity-8">
                                  Correo Electrónico PayPal: <span class="font-weight-bold text-dark">asocdcyt@gmail.com</span>
                                </div>
                              </div>
                            </div>
                          </div>
                  </div>
                  <hr class="my-4" />
                  <h5 class="heading-small text-muted mb-4 mt-4 ">Verificación de Pago</h5>
                  <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-control-label">Fecha y Hora</label>
                          <input class="form-control" type="datetime-local" name="fulltime" value="2022-11-23T10:30:00" id="example-datetime-local-input">
                        </div>
                        <div class="form-group">
                          <label class="form-control-label">Banco (Ej.: Transferencia Nacional, Pago Movil, Transferencia Nacional en Dolares, Paypal)</label>
                          <input type="text" name="bankref" class="form-control" placeholder="Coloque el Banco donde realizó la transferencia..." value="{{bankref}}">
                        </div>
                        <div class="form-group">
                          <label class="form-control-label">Monto Total a Pagar</label>
                          <div class="input-group">

                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" name="amountref" id="amountref" value="{{amountref}}">
                            <span class="input-group-text">.00</span>
                          </div>
                        </div>
                        
                        <div class="form-group">
                          <label class="form-control-label">Número de Referencia</label>
                          <input type="number" name="reference" class="form-control" placeholder="Coloque su número de referencia de transferencia..." value="{{reference}}">
                        </div>
                    </div>
                  </div>
                  <p class="text-dark font-weight-bold">Adicionalmente tiene que enviar su capture hacía la siguiente dirección de correo electrónico: <span class="font-weight-bold mx-2 text-primary text-gradient"> jornadas@asocdcyt.com</span></p>
                  <div class="col-md-12 text-center">
                    <h4 class="text-gradient text-danger mt-4">¿Está seguro de haber realizado el pago?</h4>
                            <p>Si es así lo invitamos a confirmar su inscripción, de lo contrario realice el pago antes para asistir al evento.</p>
                    <button type="submit" class="btn bg-gradient-primary">¡Confirmar inscripción!</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{>footer-a}}

<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>
  <style>
  #ofBar {
    display: none;
    background: #fff;
    z-index: 999999999;
    font-size: 16px;
    color: #333;
    padding: 16px 40px;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40px;
    width: 80%;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  }

  #ofBar.activo {
    display: flex;
  }

  #ofBar-logo img {
    height: 50px;
  }

  #ofBar-content {
    display: inline;
    padding: 0 15px;
  }

  #ofBar-right {
    display: flex;
    align-items: center;
  }

  #ofBar b {
    font-size: 15px !important;
  }
  #count-down {
    display: initial;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  #close-bar {
    font-size: 17px;
    opacity: 0.5;
    cursor: pointer;
  }
  #close-bar:hover{
    opacity: 1;
  }
  #btn-bar {
    background-image: linear-gradient(67deg, rgb(255 255 255) 0%, rgb(45 45 136) 0%, rgb(60 174 234) 100%);
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    opacity: .95;
    margin-right: 20px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
  }
   #btn-bar, #btn-bar:hover, #btn-bar:focus, #btn-bar:active {
     text-decoration: none !important;
     color: #fff !important;
 }
  #btn-bar:hover{
    opacity: 1;
  }

  #btn-bar span, #ofBar-content span {
    color: red;
    font-weight: 700;
  }

  #oldPriceBar {
    text-decoration: line-through;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 2px;
    position: relative;
  }
  #newPrice{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    top: 2px;
    position: relative;
    margin-left: 7px;
  }

  #fromText {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-right: 3px;
    top: 0px;
    position: relative;
  }

  @media(max-width: 991px){

  }
  @media (max-width: 768px) {
    #count-down {
      display: block;
      margin-top: 15px;
    }

    #ofBar {
      flex-direction: column;
      align-items: normal;
    }

    #ofBar-content {
      margin: 15px 0;
      text-align: center;
      font-size: 18px;
    }

    #ofBar-right {
      justify-content: flex-end;
    }
  }

  .showing {
    display: none;
  }

  .activo {
    display: block;
  }


</style>
<script type="text/javascript">

  var suma = 0;
  var sume = 0;
  var listArray = 1;
  var listArrayes = 1;
  var valueList = document.getElementById('valueList');
  var valueTotal = document.getElementById('valueTotal');
  var valueListe  = document.getElementById('valueListe');
  var checkEmpresa = document.querySelectorAll('.checkPublic');
  var checkEstudiante = document.querySelectorAll('.checkEstudiante');

  var checking = document.querySelectorAll('.checking');
  var checking10 = document.querySelectorAll('.checking10');

  var checkboxing = document.querySelectorAll('.checkboxing');

  var f1 = document.getElementById('f1');
  var amountref = document.getElementById('amountref');
  
  var v0 = document.getElementById('v0');
  var v5 = document.getElementById('v5');
  var v10 = document.getElementById('v10');

  // Estudiantes

  const codeProme = document.getElementById('codeProme');
  const submitProme = document.getElementById('submitProme');
  const promDive = document.getElementById('promDive'); 
  const promAlerte = document.getElementById('promAlerte'); 

  // Empresa
  const codeProm = document.getElementById('codeProm');
  const submitProm = document.getElementById('submitProm');
  const promDiv = document.getElementById('promDiv'); 
  const promAlert = document.getElementById('promAlert'); 
          

// Estudiantes en General Listo LISTO
  for(var checkEstu of checkEstudiante) {
    checkEstu.addEventListener('click', function(){
      if(this.checked == true) {
        sume = 0;
        v0.classList.add('showing');
        v10.classList.add('showing');
        v5.classList.remove('showing');
        
          for(var checkboxestu of checkboxing) {
            checkboxestu.addEventListener('click', function(){
              if(this.checked == true) {
                  sume = sume + listArrayes;
                  valueTotaly.innerHTML = sume;
                if(sume <= 6) {
                  document.f1.amountref.value = 5;
                  valueListy.innerHTML = "$" + 5;
                }
                if(sume == 7) {
                  document.f1.amountref.value = 10;
                  valueListy.innerHTML = "$" + 10;
                }
              } else {
                sume = sume - listArrayes;
                valueTotaly.innerHTML = sume;
                if(sume <= 6) {
                  document.f1.amountref.value = 5;
                  valueListy.innerHTML = "$" + 5;
                }
                if(sume == 7) {
                  document.f1.amountref.value = 10;
                  valueListy.innerHTML = "$" + 10;
                }
              }
            })
          }
      } else {
      }
    })
  }

//Empresarios Listo LISTO
  for(var checke of checkEmpresa) {
    checke.addEventListener('click', function(){
      if(this.checked == true) {
        suma = 0;
        v0.classList.add('showing');
        v5.classList.add('showing');
        v10.classList.remove('showing');
          for(var checkboxe of checking10) {
            checkboxe.addEventListener('click', function(){
              if(this.checked == true) {
                  suma = suma + listArray;
                  valueTotal.innerHTML = suma;
                  if(suma <= 1) {
                  document.f1.amountref.value = 10;
                  valueList.innerHTML = "$" + 10;
                }
                if(suma == 2) {
                  document.f1.amountref.value = 10;
                  valueList.innerHTML = "$" + 10;
                }
                if(suma == 3) {
                  document.f1.amountref.value = 10;
                  valueList.innerHTML = "$" + 10;
                }
                if(suma == 4) {
                  document.f1.amountref.value = 10;
                  valueList.innerHTML = "$" + 10;
                }
                if(suma == 5) {
                  document.f1.amountref.value = 30;
                  valueList.innerHTML = "$" + 30;
                }
                if(suma == 6) {
                  document.f1.amountref.value = 30;
                  valueList.innerHTML = "$" + 30;
                }
                if(suma == 7) {
                  document.f1.amountref.value = 40;
                  valueList.innerHTML = "$" + 40;
                }
              } else {
                suma = suma - listArray;
                valueTotal.innerHTML = suma;
                if(suma <= 1) {
                  document.f1.amountref.value = 10;
                  valueList.innerHTML = "$" + 10;
                }
                if(suma == 2) {
                  document.f1.amountref.value = 10;
                  valueList.innerHTML = "$" + 10;
                }
                if(suma == 3) {
                  document.f1.amountref.value = 10;
                  valueList.innerHTML = "$" + 10;
                }
                if(suma == 4) {
                  document.f1.amountref.value = 10;
                  valueList.innerHTML = "$" + 10;
                }
                if(suma == 5) {
                  document.f1.amountref.value = 30;
                  valueList.innerHTML = "$" + 30;
                }
                if(suma == 6) {
                  document.f1.amountref.value = 30;
                  valueList.innerHTML = "$" + 30;
                }
                if(suma == 7) {
                  document.f1.amountref.value = 40;
                  valueList.innerHTML = "$" + 40;
                }
              }
            })
          }
      } else{
      }
    })
  }
</script>