<!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">

        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="AsocDCyT" data-placement="bottom">
              <img src="/img/asoc-banner.png" alt="" class="img-nav">
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ps-lg-3 w-100">
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <ul class="d-flex flex-row ms-n3 nav">
                    <li class="nav-item">
                      <a class="nav-link pe-1" href="https://www.facebook.com/asocdcyt" target="_blank">
                        <i class="fab fa-facebook text-lg opacity-8" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pe-1" href="https://mobile.twitter.com/asocdcyt" target="_blank">
                        <i class="fab fa-twitter text-lg opacity-8" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pe-1" href="https://www.instagram.com/asocdcyt" target="_blank">
                        <i class="fab fa-instagram text-lg opacity-8" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                    Nosotros
                    <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                  </a>
                  <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
                    <div class="d-none d-lg-block">
          <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
            <div class="d-inline-block">
              <div class="avatar avatar-sm bg-gradient-info  me-3  my-auto">
                <i class="ni ni-notification-70 text-white z-index-100"></i>
              </div>
            </div>
            Acerca de Nosotros
          </div>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Valores</span>
          </a>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Contácto</span>
          </a>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Preguntas Frecuentes</span>
          </a>
          <a href="/accountability" class="dropdown-item border-radius-md">
            <span class="ps-3">Rendición de Cuentas</span>
          </a>
        </div>

        <div class="d-lg-none">
          <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
            <div class="d-inline-block">
              <div class="avatar avatar-sm bg-gradient-info  me-3  my-auto">
                <i class="ni ni-notification-70 text-white z-index-100"></i>
              </div>
            </div>
            Acerca de Nosotros
          </div>

          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Valores</span>
          </a>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Contácto</span>
          </a>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Preguntas Frecuentes</span>
          </a>
          <a href="/accountability" class="dropdown-item border-radius-md">
            <span class="ps-3">Rendición de Cuentas</span>
          </a>
        </div>

                  </div>
                </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                    Proyectos
                    <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1"/>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBlocks">
                    <div class="d-none d-lg-block">

                  <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-badge text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Proyectos Académicos</h6>
                            <span class="text-sm">Ver Proyectos Académicos</span>
                          </div>

                          <img src="/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Cursos
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Talleres
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Diplomados
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Mi Bachiller
                      </a>
                    </div>
                  </li>

                  <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-badge text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Servicios de Asesorías y Consultoría</h6>
                            <span class="text-sm">Ver Servicios de Asesorías y Consultoría</span>
                          </div>

                          <img src="/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="/projects#apoyoalemprendedor">
                        Apoyo al Emprendedor
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="/projects#asesoriasempresariales">
                        Asesorías Empresariales
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="/projects#serv-analisisquimicos">
                        Servicios de Análisis Químicos
                      </a>
                    </div>
                  </li>

                  <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-badge text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Otros Proyectos</h6>
                            <span class="text-sm">Ver Otros Proyectos</span>
                          </div>

                          <img src="/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Proyecto Esperanza
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Proyecto Impermeabilización Edificio N
                      </a>
                    </div>
                  </li>
                </div>

                <div class="row d-lg-none">
                  <div class="col-md-12">
                    <div class="d-flex mb-2">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
                      </div>
                      
                      <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <a href="/projects">
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Apoyo al Emprendedor</h6></a>
                          </div>
                      </div>
                    </div>
                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-laptop text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Asesorías Empresariales</h6>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-badge text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Capacitaciones</h6>
                        </div>
                      </div>
                    </div>
                    <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                      Cursos
                    </a>
                    <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                      Talleres
                    </a>
                    <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                      Diplomados
                    </a>
                    <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                      Aula Virtual
                    </a>


                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-notification-70 text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Proyecto Esperanza</h6>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-app text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Proyecto Impermeabilización</h6>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-app text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Proyecto Mi Bachiller</h6>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-app text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Laboratorio de Química</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  </ul>
                </li>
  
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                    Jornadas
                    <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1"/>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBlocks">
                    <div class="d-none d-lg-block">

                    <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="/event">
                        <div class="d-flex">
                          <div class="icon h-10 me-3 d-flex mt-1">
                            <i class="ni ni-world text-gradient text-primary"></i>
                          </div>
                          <div class="w-100 d-flex align-items-center justify-content-between">
                            <div>
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">I Jornadas "Tendencias en Ciencias y Tecnología"</h6>
                              <span class="text-sm">Ir a la Inscripción</span>
                            </div>

                            <img src="/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a class="btn btn-sm  bg-gradient-warning  btn-round mb-0 me-1 mt-2 mt-md-0" href="https://www.campus.asocdcyt.com/?redirect=0" target="_blank">
                    Campus Virtual
                  </a>
                </li>

                <li class="nav-item ms-lg-auto">
                  <a class="nav-link nav-link-icon me-2" href="/">
                    <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inicie en su cuenta personal">Volver</p>
                  </a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="/login"  class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0">Iniciar Sesión</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <section class="min-vh-100 mb-8">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('/img/IMG-20220908-WA0003.jpg');">
      <div class="container">
        <div class="row justify-content-center">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-6 col-lg-7 col-md-8 mx-auto">
          {{#if success_msg }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                <span class="alert-text text-white"><strong>¡Enhorabuena! -</strong> {{ success_msg }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            {{#if error}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{error}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/if}}
            {{#each errors }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{text}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/each}}
            {{#each success_msg }}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                <span class="alert-text text-white"><strong>¡Enhorabuena! -</strong> {{ text }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {{/each}}
            {{#if error_msg }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{error_msg}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/if}}
          <div class="card z-index-0">
            <div class="card-body bg-gradient-primary border-radius-lg">
                <h4 class="font-weight-bolder pt-4 text-center text-white">¡Egresado Regístrate!</h4>
                {{#each graduates}}
                <p class="mb-5 text-center text-white">Ingrese los datos faltantes a continuación:</p>
                <form role="form text-left" action="/signup" method="POST">
                <label class="text-white">Número de Cédula de Identidad</label>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">V-</span>
                    <input type="number" class="form-control" name="idcard" placeholder="0" value="{{idcard}}">
                  </div>
                </div>
                <label class="text-white">Nombres</label>
                <div class="mb-3">
                  <input type="txt" name="name" class="form-control" placeholder="Nombres..." value="{{name}}">
                </div>
                <label class="text-white">Apellidos</label>
                <div class="mb-3">
                  <input type="txt" name="lastname" class="form-control" placeholder="Apellidos..." value="{{lastname}}">
                </div>
                <label class="text-white">Año de Egreso</label>
                <div class="mb-3">
                  <input type="number" name="lastyear" class="form-control" placeholder="0" value="{{lastyear}}">
                </div>
                <label class="text-white">Número de Promoción</label>
                <div class="mb-3">
                  <input type="number" name="promotion" class="form-control" placeholder="0" value="{{promotion}}">
                </div>
                <label class="text-white">Título Universitario</label>
                <div class="mb-3">
                  <input type="txt" name="collegedegree" class="form-control" placeholder="Título Universitario..." value="{{collegedegree}}">
                </div>
                <label class="text-white">Correo Electrónico</label>
                <div class="mb-3">
                  <input type="email" name="email" class="form-control" placeholder="Escriba su correo electrónico" aria-label="Email" aria-describedby="email-addon" value="{{email}}">
                </div>
                <label class="text-white">Contraseña</label>
                <div class="mb-3">
                  <input type="password" name="password" class="form-control" placeholder="Cree una Contraseña" aria-label="Password" value="{{password}}" aria-describedby="password-addon">
                </div>
                <label class="text-white">Repetir Contraseña</label>
                <div class="mb-3">
                  <input type="password" name="confirm_password" class="form-control" placeholder="Repita su Contraseña" value="{{confirm_password}}" aria-label="Password" aria-describedby="password-addon">
                </div>
                <div class="">
                  <label class="form-check-label text-white" for="flexCheckDefault">
                   AsocDCyT se compromete a proteger y respetar tu privacidad, y solo usaremos tu información personal para administrar tu cuenta, proporcionar los productos y servicios que nos solicitaste o los que puedan interesarte siguiendo nuestra <a href="/privacy" class="text-white font-weight-bolder">Política de Privacidad</a>.
                  </label>
                </div>
                <div class="form-check form-check-info text-left">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                  <label class="form-check-label text-white" for="flexCheckDefault">
                    Acepto recibir otras comunicaciones de AsocDCyT </br></br>
                    Puedes darte de baja de estas comunicaciones en cualquier momento. Para obtener más información sobre cómo darte de baja, nuestras prácticas de privacidad y cómo nos comprometemos a proteger y respetar tu privacidad, consulta nuestra <a href="/privacy" class="text-white font-weight-bolder">Política de Privacidad</a>.
                    </br></br>
                    Al hacer clic en CREAR CUENTA, aceptas que AsocDCyT almacene y procese la información personal suministrada arriba para proporcionarte el contenido solicitado.
                  </label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-success w-100 my-4 mb-2">Crear Cuenta</button>
                </div>
                <p class="text-sm mt-3 mb-0 text-white">¿Ya tienes una cuenta? <a href="/login" class="text-white font-weight-bolder">Inicia Sesión</a></p>
                </form>
                {{else}}
                <p class="mb-5 text-center text-white">Para validar ingrese su número de cédula a continuación:</p>
                <form role="form text-left" action="/validate" method="POST">
                <label class="text-white">Número de Cédula de Identidad</label>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">V-</span>
                    <input type="txt" class="form-control" name="idcard" placeholder="Número de Cédula de Identidad..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-white mb-0" type="submit" id="button-addon2">Validar</button>
                  </div>
                </div>
                </form>
                {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>